<div class="chat-container">
  <div class="chat-header">
    <div class="chat-header-left">
      <span>#</span>
      <span>allgemein</span>
    </div>
    <div class="chat-header-right">
      <span>3</span>
    </div>
  </div>
  <div class="chat-content">
    <div class="chat-textarea-container">
      <div class="textarea-items-container">
        <textarea cols="30" rows="10" placeholder="Nachricht an #allgemein"></textarea>
        <button>Nachricht absenden</button>
      </div>
    </div>
  </div>
</div>