<div class="register-content-container">
  <span
    class="go-back-arrow"
    (click)="
      switchContainer(
        '',
        'register-container',
        'create-account-container',
        'login-container'
      )
    "
  ></span>
  <h1>Konto erstellen</h1>
  <p>
    Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DA Community
    Konto.
  </p>
  <form class="login-formular-container" (submit)="registerUser($event)">
    <input
      type="text"
      placeholder="Vorname und Nachname"
      class="name-input"
      [(ngModel)]="fullName"
      name="fullName"
    />
    <span class="api-errors-span" id="register-error-name">{{
      nameError
    }}</span>
    <input
      type="email"
      placeholder="beispielname@email.com"
      class="email-input"
      [(ngModel)]="email"
      name="email"
    />
    <span class="api-errors-span" id="register-error-email">{{
      emailError
    }}</span>
    <input
      type="password"
      placeholder="Passwort"
      class="password-input"
      [(ngModel)]="password"
      name="password"
    />
    <span class="api-errors-span" id="register-error-password">{{
      passwordError
    }}</span>
    <div class="register-button-container">
      <div class="dsgvo-checkbox-container" *ngIf="!registerSuccessful">
        <span>DSGVO aktzeptieren</span>
        <input
          type="checkbox"
          [(ngModel)]="dsgvoAccepted"
          name="dsgvoAccepted"
        />
      </div>
      <button
        *ngIf="!registerSuccessful"
        [disabled]="!dsgvoAccepted"
        [ngClass]="{ 'button-style-not-disabled': dsgvoAccepted }"
      >
        Weiter
      </button>
      <div class="register-successful-container" *ngIf="registerSuccessful">
        <img src="./assets/img/done.png" alt="Done Image" />
        <span>{{ registerSuccessfulMessage }}</span>
      </div>
    </div>
  </form>
</div>
