.event-around-container {
  padding: 24px;
  h1 {
    margin-bottom: 50px;
  }
  span {
    font-size: 20px;
    }
  input {
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #ECEEFE;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    &:hover {
      border: 1px solid black;
    }
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
    }
    &:focus {
      outline: none;
      border: 1px solid #444DF2;
      &::placeholder {
        color: transparent;
    }
    }
  }
  textarea {
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #ECEEFE;
    padding: 16px;
    width: 100%;
    resize: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    &:hover {
      border: 1px solid black;
    }
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
    }
    &:focus {
      outline: none;
      border: 1px solid #444DF2;
      &::placeholder {
        color: transparent;
    }
    }
  }
}

.event-formular-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 55vw;
}

.title-and-organisator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
}

.organisator-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.date-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.event-location-container {
  display: flex;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 55%;
}

.location-informations-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floating-label-group {
  position: relative;

  .floating-label {
      font-size: 16px;
      color: #75758B;
      position: absolute;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      transition: all 0.2s ease-in-out;
  }

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label {
      top: 5px;
      bottom: 0px;
      left: 15px;
      font-size: 12px;
      opacity: 1;
      color: #444DF2;
  }
}

.event-button-container {
  display: flex;
  justify-content: flex-end;
  button {
    border-style: unset;
    padding: 16px 24px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: #686868;
    color: white;
  }
}


.button-not-disabled {
  background-color: #444DF2 !important;
  &:hover {
    background-color: #797EF3 !important;
  }
}

.input-error-container {
  display: flex;
  flex-direction: column;
  span {
    font-size: 14px !important;
    color: #ED1E79 !important;
    text-align: center;
  }
}

.title-and-input-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.description-error-span {
  font-size: 14px !important;
  color: #ED1E79 !important;
  text-align: center;
}

.online-offline-event-container {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center;
  gap: 16px;
  input {
    width: 15px !important;
    height: 15px !important;
  }
}
