<app-logoandprofileheader></app-logoandprofileheader>

<div class="startsite-content-container">
  <app-sitenavigation (switchView)="handleSwitchView($event)"></app-sitenavigation>
  <div class="startsite-components-container">
    <app-map [class.d-none]="currentView !== ViewType.MAP"></app-map>
    <app-chat [class.d-none]="currentView !== ViewType.CHAT"></app-chat>
    <app-statistics [class.d-none]="currentView !== ViewType.STATISTICS"></app-statistics>
    <app-event [class.d-none]="currentView !== ViewType.EVENT"></app-event>
  </div>
</div>