<div class="workspace-dabubble-logo-container">
  <img src="./assets/img/dabubble-logo.png" alt="DABubble Icon" />
  <span>DABubble</span>
</div>
<input
  type="text"
  placeholder="Code learning durchsuchen"
  class="workspace-top-filter-input"
/>
<div class="workspace-top-right-container">
  <div class="workspace-name-container" (click)="showProfileLogoutContainer()">
    <span>Frederik Beck</span>
    <div class="workspace-top-right-avatar">
      <img src="./assets/img/avatar-men-1.png" alt="Profile Avatar Icon" />
      <div></div>
    </div>
    <div class="arrow-down-container"></div>
  </div>
  <div class="profile-button-container d-none" id="profile-logout">
    <button (click)="showProfileDetailsContainer()">Profil</button>
    <button>Log out</button>
  </div>
  <div class="profile-details-container d-none" id="profile-details">
    <div class="profile-details-top-content">
      <span>Profil</span>
      <div (click)="hideProfileDetailsContainer()"></div>
    </div>
    <div class="profile-details-avatar">
      <img src="./assets/img/avatar-men-1.png" alt="Your Profile Avatar" />
    </div>
    <div class="profile-details-name-and-edit">
      <span>Frederik Beck</span>
      <button (click)="showEditProfileContainer()">Bearbeiten</button>
    </div>
    <div class="profile-details-active">
      <div></div>
      <span>Aktiv</span>
    </div>
    <div class="profile-details-email">
      <img src="./assets/img/login-mail-black.png" alt="E-Mail Icon" />
      <div>
        <span class="e-mail-hard">E-Mail-Adresse</span>
        <span class="your-email">fred.beck@email.com</span>
      </div>
    </div>
  </div>
  <div class="edit-profile-details-container d-none" id="edit-profile">
    <div class="profile-details-top-content">
      <span>Dein Profil bearbeiten</span>
      <div (click)="hideProfileDetailsContainer()"></div>
    </div>
    <div class="profile-details-avatar">
      <img src="./assets/img/avatar-men-1.png" alt="Your Profile Avatar" />
    </div>
    <div class="name-input-container">
      <div class="span-with-image-container">
        <img
          src="./assets/img/account_circle.png"
          alt="Profile Image in a Circle"
        />
        <span>Vollständiger Name</span>
      </div>
      <input type="text" placeholder="Frederik Beck" />
    </div>
    <div class="name-input-container">
      <div class="span-with-image-container">
        <img
          src="./assets/img/login-mail-black.png"
          alt="Profile Image in a Circle"
        />
        <span>E-Mail-Adresse</span>
      </div>
      <input type="text" placeholder="fred.beck@email.com" />
    </div>
    <div class="edit-profile-details-button-container">
      <button
        class="edit-profile-back-button"
        (click)="hideProfileDetailsContainer()"
      >
        Abbrechen
      </button>
      <button class="edit-profile-save-button">Speichern</button>
    </div>
  </div>
</div>

<div
  class="opacity-background-container d-none"
  id="opacity-background"
  (click)="hideProfileLogoutContainer()"
></div>

<div
  class="opacity-background-container-profile-details d-none"
  id="opacity-background-profile-details"
  (click)="hideProfileDetailsContainer()"
></div>
