<div class="workspace-dabubble-logo-container">
  <img src="./assets/img/dabubble-logo.png" alt="DABubble Icon" />
  <span>DABubble</span>
</div>
<input
  type="text"
  placeholder="Code learning durchsuchen"
  class="workspace-top-filter-input"
/>
<div class="workspace-top-right-container">
  <span>Frederik Beck</span>
  <div class="workspace-top-right-avatar">
    <img src="./assets/img/avatar-men-1.png" alt="Profile Avatar Icon" />
    <div></div>
  </div>
  <div class="arrow-down-container"></div>
</div>
