
.workspace-dabubble-logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    height: 100px;
  }
  span {
    font-size: 32px;
    font-weight: bold;
  }
}

.workspace-top-filter-input {
  height: 60px;
  width: 55%;
  border-radius: 30px;
  border-style: unset;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  border: 1px solid black;
  background-image: url('../../../assets/img/search-class-grey.png');
  background-repeat: no-repeat;
  background-position: right 50px center;
  &::placeholder {
    font-size: 18px;
  }
  &:focus {
    border: 1px solid #444DF2;
    outline: #444DF2;
    background-image: url('../../../assets/img/search-class-black.png');
  }
}

.workspace-top-right-container {
  position: relative;
}

.workspace-top-right-avatar {
  position: relative;
  img {
    height: 75px;
    border-radius: 50%;
  }
  div {
    border: 2px solid #ECEEFE;
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #92C83E;
  }
}

.arrow-down-container {
  width: 25px;
  height: 50px;
  background-image: url('../../../assets/img/keyboard_arrow_down.png');
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.1s ease-in-out;
}

.opacity-background-container-profile-details {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 30;
}

.profile-button-container {
  position: absolute;
  top: 100px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 30px;
  border-top-right-radius: 0 !important;
  background-color: white;
  z-index: 40;
  padding: 16px 32px;
  button {
    cursor: pointer;
    color: black;
    border-style: unset;
    background-color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 16px 48px;
    border-radius: 30px;
    &:hover {
      color: #797EF3;
      background-color: #ECEEFE;
    }
  }
}

.workspace-name-container {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  position: relative;
  span {
    font-size: 24px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    span {
      color: #797EF3;
    }
    .arrow-down-container {
      background-image: url('../../../assets/img/keyboard_arrow_down_purple.png');
    }
  }
}

.profile-details-container {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: white;
  z-index: 40;
  padding: 40px;
  border-radius: 30px;
  border-top-right-radius: 0;
  width: 435px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profile-details-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 22px;
    font-weight: 600;
  }
  div {
    background-image: url('../../../assets/img/close-black.png');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    padding: 16px;
    border-radius: 30px;
    &:hover {
      background-color: #ECEEFE;
      background-image: url('../../../assets/img/close-purple.png');
    }
  }
}

.profile-details-avatar {
  display: flex;
  justify-content: center;
  img {
    border-radius: 50%;
    height: 150px;
  }
}

.profile-details-name-and-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-weight: bold;
    font-size: 26px;
  }
  button {
    border-style: unset;
    background-color: white;
    color: #797EF3;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: #444DF2;
    }
  }
}

.profile-details-active {
  display: flex;
  align-items: center;
  gap: 16px;
  div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #92C83E;
  }
  span {
    color: #92C83E;
    font-size: 18px;
  }
}

.profile-details-email {
  display: flex;
  gap: 16px;
  img {
    height: 30px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.e-mail-hard {
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.your-email {
  color: #1381FF;
  font-weight: 600;
}

.edit-profile-details-container {
  position: absolute;
  right: 0px;
  top: 100px;
  background-color: white;
  z-index: 40;
  padding: 40px;
  border-radius: 30px;
  border-top-right-radius: 0;
  width: 435px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.name-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  input {
    border-style: unset;
    border: 1px solid #ADB0D9;
    padding: 16px;
    border-radius: 30px;
    color: #686868;
    font-size: 16px;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &::placeholder {
      font-size: 16px;
    }
    &:hover {
      border: 1px solid #444DF2;
    }
    &:focus {
      outline: none;
      border: 1px solid #444DF2;
      &::placeholder {
        color: transparent;
      }
    }
  }
}

.span-with-image-container {
  display: flex;
  align-items: center;
  gap: 16px;
  span {
    font-size: 18px;
    font-weight: 600;
  }
  img {
    height: 25px;
  }
}

.edit-profile-details-button-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  button {
    border-style: unset;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 30px;
  }
}

.edit-profile-back-button {
  border: 1px solid #444DF2 !important;
  background-color: white;
  color: #444DF2;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    color: white;
    background-color: #444DF2;
  }
}

.edit-profile-save-button {
  color: white;
  background-color: #444DF2;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: #797EF3;
  }
}
