<div class="reset-password-confirm-position-container">
  <div class="login-top-logo-container padding-container">
    <img src="./assets/img/hugsnobackground.png" alt="Community Logo" />
  </div>
  <div class="reset-password-confirm-content-position-container">
    <div class="reset-password-confirm-input-container">
      <span class="go-back-arrow" (click)="switchToLogin()"></span>
      <h1>Passwort zurücksetzen</h1>
      <div class="floating-label-group">
        <input [type]="hidePassword ? 'password' : 'text'" class="form-control" autocomplete="off" required
          class="password-input" [(ngModel)]="new_password1" name="new_password1" />
        <label class="floating-label">Passwort</label>
        <img src="./assets/img/password-dont-see-image.png" alt="Hiding Password" class="hide-password-image"
          (click)="toggleHidePassword()" />
      </div>
      <div class="input-and-error-msgs-container">
        <div class="floating-label-group">
          <input [type]="hidePassword ? 'password' : 'text'" class="form-control" autocomplete="off" required
            class="password-input" [(ngModel)]="new_password2" name="new_password2" />
          <label class="floating-label">Passwort</label>
          <img src="./assets/img/password-dont-see-image.png" alt="Hiding Password" class="hide-password-image"
            (click)="toggleHidePassword()" />
        </div>
        <span>{{ errorMessage }}</span>
      </div>
      <div class="reset-password-confirm-button-container">
        <button (click)="changePassword()" *ngIf="!passwordChanged">
          Passwort ändern
        </button>
        <div class="password-changed-container" *ngIf="passwordChanged">
          <img src="./assets/img/done.png" alt="E-Mail sended Icon" />
          <div class="password-changed-image-span-container">
            <span>{{ passwordChangedMessage }}</span>
            <span>Weiterleitung zum Login...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>