.verify-quiz-container {
  padding: 32px 48px;
  height: 17vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.verify-quiz-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.profile-photo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.position-relative {
  position: relative;
}

.green-active-symbol {
  width: 17px;
  height: 17px;
  border: 2px solid #ECEEFE;
  border-radius: 50%;
  background-color: #92C83E;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.profile-name-and-image-container {
  display: flex;
  align-items: center;
  gap: 32px;
  span {
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    span {
      color: #797EF3;
    }
  }
}

.edit-profile-and-logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: white;
  padding: 24px 40px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  z-index: 510;
  cursor: default;
  button {
    border-style: none;
    background-color: white;
    width: 200px;
    padding: 8px;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    &:hover {
      color: #797EF3;
      background-color: #ECEEFE;
    }
  }
}
