<div class="welcome-message-container">
  <h1>Willkommen bei der DA Community App</h1>
  <p>
    Unsere Plattform, entwickelt exklusiv für Kunden der Developer Akademie,
    bietet eine einzigartige Gelegenheit, sich zu vernetzen und auszutauschen.
  </p>
  <p>
    Wenn Sie bereits Kunde sind, laden wir Sie ein, sich zu registrieren und
    Ihre E-Mail-Adresse zu bestätigen. Nach erfolgreichem Login erwartet Sie
    eine spezielle <br />
    Willkommens - Herausforderung!
  </p>
  <p>
    Noch kein Kunde? Kein Problem. Nutzen Sie unseren Gastzugang, um einen
    ersten Eindruck zu gewinnen. Beachten Sie jedoch, dass die vollständige
    Nutzung unserer App nur Kunden der Developer Akademie vorbehalten ist.
  </p>
  <p>
    Freuen Sie sich auf spannende Möglichkeiten und aktive Teilnahme in unserer
    Community.
  </p>
  <p class="welcome-greetings-paragraph">
    Herzliche Grüße, <br />
    Ihr Developer Akademie Team
  </p>
  <div class="welcome-message-button-container">
    <button (click)="checkedWelcomeMessage()">Verstanden</button>
  </div>
</div>
