.user-details-position-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 540;
}

.complete-your-profile-container {
  display: flex;
  justify-content: center;
}

.welcome-to-community-container {
  padding: 32px;
  width: 60vw;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 22px;
  }
}

.user-details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  padding: 32px;
  border-radius: 30px;
  width: 60vw;
}

.user-details-input-container {
  display: flex;
  gap: 32px;
  input {
      border: 1px solid transparent;
      border-radius: 30px;
      background-color: #ECEEFE;
      padding: 16px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: 0.1s ease-in-out;
      &:hover {
        border: 1px solid black;
      }
      &::placeholder {
        font-size: 16px;
        font-weight: 400;
      }
      &:focus {
        outline: none;
        border: 1px solid #444DF2;
        &::placeholder {
          color: transparent;
      }
      }
    }
  }

.user-details-textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  textarea {
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #ECEEFE;
    padding: 16px;
    width: 100%;
    resize: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    &:hover {
      border: 1px solid black;
    }
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
    }
    &:focus {
      outline: none;
      border: 1px solid #444DF2;
      &::placeholder {
        color: transparent;
    }
    }
  }
  span {
    color: #ED1E79;
    font-size: 14px;
    min-height: 20px;
  }
}

.user-details-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.user-details-around-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-details-profile-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
  span {
    color: #ED1E79;
    text-align: center;
    font-size: 14px;
    min-height: 20px;
  }
}

.input-error-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  span {
    color: #ED1E79;
    font-size: 14px;
    min-height: 20px;
  }
}

.user-details-button-container {
  display: flex;
  justify-content: space-between;
  button {
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 30px;
    border-style: unset;
    cursor: pointer;
  }
}

.user-details-save-button {
  background-color: #444DF2;
  color: white;
  &:hover {
    background-color: #797EF3;
  }
}

.user-details-delete-button {
    background-color: rgb(186, 29, 29);
    color: white;
    &:hover {
      background-color: rgb(207, 46, 46);
    }
}

.mb-32 {
  margin-bottom: 24px;
}

.floating-label-group-cyp {
  position: relative;

  .floating-label-cyp {
    font-size: 16px;
    color: #75758B;
    position: absolute;
    pointer-events: none;
    top: 19px;  // Standardposition (wenn das Feld leer ist)
    left: 25px;
    transition: all 0.2s ease-in-out;
  }

  // Wenn das Input-Feld fokussiert ist oder einen Wert hat
  input:focus + .floating-label-cyp,
  input.has-value + .floating-label-cyp {
    top: -15px;
    left: 15px;
    font-size: 12px;
    color: #444DF2;
  }

  // Für Textbereiche (textarea)
  textarea:focus + .floating-label-cyp,
  textarea.has-value + .floating-label-cyp {
    top: -15px;
    left: 15px;
    font-size: 12px;
    color: #444DF2;
  }
}

.dropdown-toggle {
  background-color: #444DF2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    .dropdown-item {
      background-color: white;
      list-style: none;
      text-align: center;
      display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background-color: #f2f2f2;
    }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }
}

.dropdown-choice-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected-course-span {
  font-size: 20px;
}

.course-details-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.dropdown-scrollbar {
    max-height: 115px !important;
    overflow-y: auto;
}

.searching-job-container {
  display: flex;
  align-items: center;
  gap: 8px;
  span {
    font-size: 20px;
  }
  input {
    cursor: pointer;
  }
}
