<div class="delete-profile-flexbox-container">
  <div class="delete-profile-and-close-container">
    <h2>Dein Profil löschen</h2>
    <img
      src="./assets/img/close-black.png"
      (click)="switchContainerFromDeleteUserToProfileDetails()"
      alt="Close Icon"
    />
  </div>
  <div class="profile-authentication-delete-user-container">
    <img [src]="imagePreview" alt="Profile Icon" />
    <div class="input-error-container floating-label-group-cyp">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        #emailField="ngModel"
        required
        [class.has-value]="email"
      />
      <label class="floating-label-cyp">E-Mail</label>
    </div>
    <div class="input-error-container floating-label-group-cyp">
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        #passwordField="ngModel"
        required
        [class.has-value]="password"
      />
      <label class="floating-label-cyp">Passwort</label>
      <div class="delete-profile-error-message">
        <span class="delete-profile-error-message">{{ errorMessage }}</span>
      </div>
    </div>
  </div>
  <div class="delete-profile-button-container">
    <button
      class="go-back-button"
      (click)="switchContainerFromDeleteUserToProfileDetails()"
    >
      Abbrechen
    </button>
    <button
      [disabled]="!emailField.valid || !isPasswordValid()"
      [ngClass]="{
        'delete-user-button': !emailField.valid || !isPasswordValid(),
        'delete-user-button-not-disabled': emailField.valid && isPasswordValid()
      }"
      (click)="deleteUser()"
    >
      Profil löschen
    </button>
  </div>
</div>
