<div class="profile-sidebar-container">
  <div class="profile-and-close-container">
    <h2>Profil</h2>
    <img src="./assets/img/close-black.png" alt="Close Icon" (click)="hideUserProfileDetailsSitebar()" />
  </div>
  <div class="edit-profile-image-container">
    <img [src]="profileImageUrl" alt="Profile Photo" class="profile-photo" />
  </div>
  <div class="full-name-and-active-container">
    <div class="full-name-active-flex-column">
      <div class="full-name-and-user-type-container">
        <h3 class="full-name-span">{{ fullName }}</h3>
        <div class="user-type-container">
          <img *ngIf="user_type === 'Alumni'" src="./assets/img/blue-marker.png" alt="User Marker Map" />
          <img *ngIf="user_type === 'Mentor'" src="./assets/img/red-marker.png" alt="User Marker Map" />
          <img *ngIf="user_type === 'Schüler'" src="./assets/img/green-marker.png" alt="User Marker Map" />
          <img *ngIf="user_type === 'Community Manager'" src="./assets/img/black-marker.png" alt="User Marker Map" />
          <span>{{ user_type }}</span>
        </div>
      </div>
      <div class="show-course-and-module" *ngIf="user_type === 'Schüler'">
        <span><b>Kurs:</b> {{selectedCourse}} in Modul {{selectedNumber}}</span>
      </div>
      <div class="edit-profile-active-container">
        <div></div>
        <span>Aktiv</span>
      </div>
    </div>
    <button (click)="showChangeProfileDetailsPopup()">Profil bearbeiten</button>
  </div>
  <div class="edit-profile-user-details-container">
    <h3>Kontaktdaten</h3>
    <div class="details-style-container">
      <span>E-Mail Adresse</span>
      <p>{{ emailAddress }}</p>
    </div>
    <div class="details-style-container">
      <span>Telefon</span>
      <p>{{ phoneNumber }}</p>
    </div>
    <div class="details-style-container">
      <span>PLZ und Stadt</span>
      <p>{{ zipCode }} {{ city }}</p>
    </div>
    <div class="details-style-container">
      <span>Straße und Hausnummer</span>
      <p>{{ street }}, {{ houseNumber }}</p>
    </div>
    <div class="details-style-container" *ngIf="website">
      <span>Website</span>
      <p>
        <a href="{{ website }}">{{ website }}</a>
      </p>
    </div>
    <div class="details-style-container">
      <span>Info über mich</span>
      <p>{{ about }}</p>
    </div>
  </div>
</div>

<div class="opacity-background-container-profile-details d-none" id="opacity-background-profile-details"
  (click)="hideChangeProfileDetailsPopup()"></div>

<app-editprofiledetails id="edit-profile-details-popup" class="d-none"></app-editprofiledetails>