<div class="login-top-container">
  <div class="login-top-logo-container">
    <img src="./assets/img/dabubble-logo.png" alt="DA Logo" />
    <span>DA Bubble</span>
  </div>
  <div class="login-top-register-container">
    <p>Neu bei der DA Bubble?</p>
    <span>Konto erstellen</span>
  </div>
</div>

<div class="login-position-container">
  <div class="login-content-container">
    <h1>Anmeldung</h1>
    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </p>
    <form class="login-formular-container">
      <input
        type="email"
        placeholder="beispielname@email.com"
        class="email-input"
      />
      <input type="password" placeholder="Passwort" class="password-input" />
      <span class="forgot-password-span">Passwort vergessen?</span>
      <div class="horizontal-line"></div>
      <div class="login-with-slack-container">
        <img src="./assets/img/Google.png" alt="Slack Logo" />
        <span>Anmelden mit Google</span>
      </div>
      <div class="login-button-container">
        <button class="login-button">Anmelden</button>
        <button class="guest-login-button">Gäste Login</button>
      </div>
    </form>
  </div>
</div>
