<div
  class="login-opacity-background-container"
  id="login-opacity-background"
></div>

<div
  class="login-welcome-message-position-container"
  id="login-message-container"
>
  <div class="welcome-message-container">
    <h1>Willkommen bei der DA Community App</h1>
    <p>
      Unsere Plattform, entwickelt exklusiv für Kunden der Developer Akademie,
      bietet eine einzigartige Gelegenheit, sich zu vernetzen und auszutauschen.
    </p>
    <p>
      Wenn Sie bereits Kunde sind, laden wir Sie ein, sich zu registrieren und
      Ihre E-Mail-Adresse zu bestätigen. Nach erfolgreichem Login erwartet Sie
      eine spezielle <br />
      Willkommens - Herausforderung!
    </p>
    <p>
      Noch kein Kunde? Kein Problem. Nutzen Sie unseren Gastzugang, um einen
      ersten Eindruck zu gewinnen. Beachten Sie jedoch, dass die vollständige
      Nutzung unserer App nur Kunden der Developer Akademie vorbehalten ist.
    </p>
    <p>
      Freuen Sie sich auf spannende Möglichkeiten und aktive Teilnahme in
      unserer Community.
    </p>
    <p class="welcome-greetings-paragraph">
      Herzliche Grüße, <br />
      Ihr Developer Akademie Team
    </p>
    <div class="welcome-message-button-container">
      <button (click)="checkedWelcomeMessage()">Verstanden</button>
    </div>
  </div>
</div>

<div class="login-top-container">
  <div class="login-top-logo-container">
    <img src="./assets/img/dabubble-logo.png" alt="DA Logo" />
    <span>DA Community App</span>
  </div>
  <div class="login-top-register-container" id="create-account-container">
    <p>Neu bei der DA Community App?</p>
    <span
      (click)="
        switchContainer(
          'create-account-container',
          'login-container',
          'register-container',
          ''
        )
      "
      >Konto erstellen</span
    >
  </div>
</div>

<div class="login-position-container">
  <div class="login-content-container" id="login-container">
    <h1>Anmeldung</h1>
    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Developer
      Akademie verwendest.
    </p>
    <form class="login-formular-container">
      <input
        type="email"
        placeholder="beispielname@email.com"
        class="email-input"
        [(ngModel)]="email"
        name="email"
      />
      <span class="api-errors-span">{{ emailError }}</span>
      <input
        type="password"
        placeholder="Passwort"
        class="password-input"
        [(ngModel)]="password"
        name="password"
      />
      <span class="api-errors-span">{{ passwordError }}</span>
      <div class="login-flexbox-column">
        <span
          class="forgot-password-span"
          (click)="
            switchContainer(
              'create-account-container',
              'login-container',
              'resetpassword-container',
              ''
            )
          "
          >Passwort vergessen?</span
        >
        <div class="horizontal-line"></div>
        <div class="login-with-slack-container">
          <img src="./assets/img/slack-logo.png" alt="Slack Logo" />
          <span>Anmelden mit Slack</span>
        </div>
        <div class="login-button-container">
          <button class="login-button" (click)="loginUser()">Anmelden</button>
          <button class="guest-login-button">Gäste Login</button>
        </div>
      </div>
    </form>
  </div>
  <app-register id="register-container" class="d-none"></app-register>
  <app-resetpassword
    id="resetpassword-container"
    class="d-none"
  ></app-resetpassword>
</div>
