<div class="login-opacity-background-container d-none" id="login-opacity-background"></div>

<app-loginnewuserwelcomemessage class="login-welcome-message-position-container"
  id="login-message-container"></app-loginnewuserwelcomemessage>

<app-userlockedmessage class="login-welcome-message-position-container d-none"
  id="user-locked-message-container"></app-userlockedmessage>

<div class="login-top-container">
  <div class="login-top-logo-container">
    <img src="./assets/img/hugsnobackground.png" alt="Community Logo" />
  </div>
  <div class="login-top-register-container" id="create-account-container">
    <p>Neu bei academyhugs?</p>
    <span (click)="
        switchContainer(
          'create-account-container',
          'login-container',
          'register-container',
          ''
        )
      ">Konto erstellen</span>
  </div>
</div>

<div class="login-position-container">
  <div class="login-content-container" id="login-container">
    <h1>Anmeldung</h1>
    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Developer
      Akademie verwendest.
    </p>
    <form class="login-formular-container">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <div class="floating-label-group">
            <input type="text" class="form-control" autocomplete="off" autofocus required class="email-input"
              [(ngModel)]="email" name="email" />
            <label class="floating-label">beispielname@email.com</label>
          </div>
          <span class="api-errors-span">{{ emailError }}</span>
          <div class="floating-label-group">
            <input [type]="hidePassword ? 'password' : 'text'" class="form-control" autocomplete="off" required
              class="password-input" [(ngModel)]="password" name="password" />
            <label class="floating-label">Passwort</label>
            <img src="./assets/img/password-dont-see-image.png" alt="Hiding Password" class="hide-password-image"
              (click)="toggleHidePassword()" />
          </div>
        </div>
      </div>
      <span class="api-errors-span">{{ passwordError }}</span>
      <div class="login-flexbox-column">
        <span class="forgot-password-span" (click)="
            switchContainer(
              'create-account-container',
              'login-container',
              'resetpassword-container',
              ''
            )
          ">Passwort vergessen?</span>
        <div class="already-login-container">
          <span>Angemeldet bleiben?</span>
          <input type="checkbox" [(ngModel)]="stayLoggedInCheckbox" (ngModelChange)="onCheckboxChange()"
            name="stayLoggedInCheckbox">
        </div>
        <div class="horizontal-line"></div>
        <div class="login-button-container">
          <button class="login-button" (click)="loginUser()">Anmelden</button>
          <button class="guest-login-button">Gäste Login
          </button>
        </div>
      </div>
    </form>
  </div>
  <app-register id="register-container" class="d-none"></app-register>
  <app-resetpassword id="resetpassword-container" class="d-none"></app-resetpassword>
</div>