<div class="user-locked-message-container">
  <h1>Dein Account wurde gesperrt.</h1>
  <p>Lieber Nutzer,</p>
  <p>
    Nach mehreren fehlgeschlagenen Versuchen, unser Verifizierungsquiz zu
    bestehen, mussten wir diese Maßnahme ergreifen, um die Sicherheit und
    Integrität unserer Community zu gewährleisten.
  </p>
  <p>
    Wir verstehen, dass dies frustrierend sein kann, und möchten Ihnen
    versichern, dass wir hier sind, um Ihnen zu helfen. Bitte kontaktieren Sie
    unseren Support unter mail@niels-scholz.com, um die notwendigen Schritte zur
    Überprüfung Ihrer Mitgliedschaft und zur Wiederherstellung Ihres Account zu
    besprechen.
  </p>
  <p>
    Wir danken Ihnen für Ihr Verständnis und Ihre Kooperation in dieser
    Angelegenheit.
  </p>
  <p>
    Mit freundlichen Grüßen, <br />
    Ihr Developer Akademie Team.
  </p>
  <div class="welcome-message-button-container">
    <button (click)="checkedUserLockedMessage()">Verstanden</button>
  </div>
</div>
