<div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
  <div class="map-info-container">
    <div class="map-info-image-container">
      <img src="./assets/img/f-zeich-neben-profil.png" alt="Infos Image" />
      <form class="tooltip-content">
        <h3>Legende</h3>
        <div class="filter-flexbox-container">
          <div>
            <div class="filter-roles-container">
              <img src="./assets/img/black-marker.png" alt="Red Marker" />
              <span class="community-manager-span">Community Manager</span>
            </div>
            <div class="filter-roles-container">
              <img src="./assets/img/red-marker.png" alt="Red Marker" />
              <span>Mentoren</span>
            </div>
            <div class="filter-roles-container">
              <img src="./assets/img/green-marker.png" alt="Red Marker" />
              <span>Schüler</span>
            </div>
            <div class="filter-roles-container">
              <img src="./assets/img/blue-marker.png" alt="Red Marker" />
              <span>Alumni</span>
            </div>
            <!-- <div class="filter-roles-container">
              <img src="./assets/img/laptop.png" alt="Red Marker" />
              <span class="searching-job-span">Auf Jobsuche</span>
            </div> -->
          </div>
        </div>
      </form>
    </div>
    <div class="map-info-image-container-glasses">
      <img src="./assets/img/glasses-map.png" alt="Infos Image" class="magni-classes-image" />
      <form class="tooltip-content-glasses" [formGroup]="filterForm">
        <h3>Suchoptionen</h3>
        <div class="filter-flexbox-container">
          <div>
            <div (click)="toggleCheckbox('com_manager')" class="filter-roles-container">
              <img src="./assets/img/black-marker.png" alt="Red Marker" />
              <span class="community-manager-span">Community Manager</span>
              <input type="checkbox" formControlName="com_manager" (click)="$event.stopPropagation()" />
            </div>
            <div (click)="toggleCheckbox('mentor')" class="filter-roles-container">
              <img src="./assets/img/red-marker.png" alt="Red Marker" />
              <span>Mentoren</span>
              <input type="checkbox" formControlName="mentor" (click)="$event.stopPropagation()" />
            </div>
            <div (click)="toggleCheckbox('schuler')" class="filter-roles-container">
              <img src="./assets/img/green-marker.png" alt="Red Marker" />
              <span>Schüler</span>
              <input type="checkbox" formControlName="schuler" (click)="$event.stopPropagation()" />
            </div>
            <div (click)="toggleCheckbox('alumni')" class="filter-roles-container">
              <img src="./assets/img/blue-marker.png" alt="Red Marker" />
              <span>Alumni</span>
              <input type="checkbox" formControlName="alumni" (click)="$event.stopPropagation()" />
            </div>
          </div>
          <div class="course-and-modules-container">
            <div (click)="toggleCheckbox('frontend')" class="filter-roles-container">
              <img src="./assets/img/coding.png" alt="Coding Image" class="coding-image" />
              <span>Frontend</span>
              <input type="checkbox" formControlName="frontend" (click)="$event.stopPropagation()" />
            </div>
            <div (click)="toggleCheckbox('backend')" class="filter-roles-container">
              <img src="./assets/img/coding.png" alt="Coding Image" class="coding-image" />
              <span>Backend</span>
              <input type="checkbox" formControlName="backend" (click)="$event.stopPropagation()" />
            </div>
            <div (click)="toggleCheckbox('fullstack')" class="filter-roles-container">
              <img src="./assets/img/coding.png" alt="Coding Image" class="coding-image" />
              <span>Fullstack</span>
              <input type="checkbox" formControlName="fullstack" (click)="$event.stopPropagation()" />
            </div>
            <div class="dropdown-choice-container">
              <div class="dropdown">
                <button class="dropdown-toggle-map">
                  Module <img src="./assets/img/arrow_drop_down_black.png" alt="">
                </button>
                <ul class="dropdown-scrollbar dropdown-menu">
                  <li class="dropdown-item" *ngFor="let i of displayNumbers" (click)="toggleModule(i)">
                    <span class="select-number-span">{{ i }} <input type="checkbox"
                        [checked]="selectedModules.includes(i)"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div (click)="toggleCheckbox('searchingJob')" class="filter-roles-container">
              <img src="./assets/img/laptop.png" alt="Red Marker" />
              <span class="searching-job-span">Auf Jobsuche</span>
              <input type="checkbox" formControlName="searchingJob" (click)="$event.stopPropagation()" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>