<app-logoandprofileheader></app-logoandprofileheader>

<div
  class="map-container"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
>
  <div class="map-info-container">
    <div class="map-info-image-container">
      <img src="./assets/img/f-zeich-neben-profil.png" alt="Infos Image" />
      <div class="tooltip-content">
        <h3>Legende</h3>
        <div>
          <img src="./assets/img/red-marker.png" alt="Red Marker" />
          <span>Mentoren</span>
        </div>
        <div>
          <img src="./assets/img/green-marker.png" alt="Red Marker" />
          <span>Schüler</span>
        </div>
        <div>
          <img src="./assets/img/blue-marker.png" alt="Red Marker" />
          <span>Alumni</span>
        </div>
      </div>
    </div>
  </div>
</div>
