.map-container {
  height: 83vh;
  position: relative;
}

.map-info-container {
  z-index: 1000;
  position: relative;
}

.map-info-image-container {
  position: absolute;
  left: 50px;
  top: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}

.tooltip-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  right: -125px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  img {
    height: 25px;
    object-fit: cover;
  }

  div {
    padding: 6px;
    border-radius: 8px;
    transition: 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    input {
      cursor: pointer;
    }
    &:hover {
      background-color: #ECEEFE;
    }
  }

  h3 {
    text-align: center;
  }
}

.map-info-container:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
}
