<div class="resetpassword-content-container">
  <span
    class="go-back-arrow"
    (click)="
      switchContainer(
        '',
        'resetpassword-container',
        'create-account-container',
        'login-container'
      )
    "
  ></span>
  <h1>Passwort zurücksetzen</h1>
  <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
  <form class="resetpassword-formular-container">
    <div class="resetpassword-input-container">
      <input
        type="email"
        placeholder="beispielname@email.com"
        class="email-input"
        [(ngModel)]="email"
        name="email"
      />
      <span class="reset-password-error"></span>
    </div>
    <span class="send-mail-span"
      >Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern
      können.</span
    >
    <div class="resetpassword-button-container">
      <button (click)="sendPasswordResetMail()" *ngIf="!isEmailSent">
        E-Mail senden
      </button>
      <div class="email-sended-container" *ngIf="isEmailSent">
        <img src="./assets/img/SendCheck.png" alt="E-Mail sended Icon" />
        <span>{{ emailSentMessage }}</span>
      </div>
    </div>
  </form>
</div>
