* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ECEEFE;
  font-family: 'Nunito', sans-serif;
}

.d-none {
  display: none !important;
}

.api-errors-span {
  display: flex;
  padding-left: 16px;
  align-items: center;
  color: #ED1E79;
  font-size: 14px;
  min-height: 32px;
}

.name-input {
  background-image: url('./assets/img/login-person-grey.png');
  background-repeat: no-repeat;
  background-position:  left 25px center;
  &:focus {
    background-image: url('./assets/img/login-person-black.png');
  }
}

.email-input {
  background-image: url('./assets/img/login-mail-grey.png');
  background-repeat: no-repeat;
  background-position:  left 25px center;
  &:focus {
    background-image: url('./assets/img/login-mail-black.png');
  }
}

.password-input {
  background-image: url('./assets/img/login-password-grey.png');
  background-repeat: no-repeat;
  background-position:  left 25px center;
  &:focus {
    background-image: url('./assets/img/login-password-black.png');
  }
}


