* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ECEEFE;
  font-family: 'Nunito', sans-serif;
}

.d-none {
  display: none !important;
}

.api-errors-span {
  display: flex;
  padding-left: 16px;
  align-items: center;
  color: #ED1E79;
  font-size: 14px;
  min-height: 32px;
}

.opacity-background-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: #999999;
  z-index: 500;
  opacity: 0.5;
}

.welcome-message-button-container {
  display: flex;
  justify-content: flex-end;
  button {
    border-style: unset;
    padding: 16px 24px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: #444DF2;
    color: white;
    &:hover {
      background-color: #797EF3;
    }
  }
}

.button-style-not-disabled {
  background-color: #444DF2 !important;
  &:hover {
    background-color: #797EF3 !important;
  }
}

.login-top-logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    height: 100px;
  }
  span {
    font-size: 36px;
    font-weight: bold;
  }
}

.name-input {
  background-image: url('./assets/img/login-person-grey.png');
  background-repeat: no-repeat;
  background-position:  left 25px center;
  &:focus {
    background-image: url('./assets/img/login-person-black.png');
  }
}

.email-input {
  background-image: url('./assets/img/login-mail-grey.png');
  background-repeat: no-repeat;
  background-position:  left 25px center;
  &:focus {
    background-image: url('./assets/img/login-mail-black.png');
  }
}

.password-input {
  background-image: url('./assets/img/login-password-grey.png');
  background-repeat: no-repeat;
  background-position:  left 25px center;
  &:focus {
    background-image: url('./assets/img/login-password-black.png');
  }
}

.verify-quiz-button-container {
  display: flex;
  justify-content: flex-end;
  button {
    border-style: unset;
    padding: 16px 24px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: #444DF2;
    color: white;
    &:hover {
      background-color: #797EF3;
    }
  }
}

.edit-your-profile-and-close-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
    &:hover {
      background-color: #ECEEFE;
    }
  }
}
