<app-logoandprofileheader></app-logoandprofileheader>

<div class="complete-your-profile-container">
  <div class="welcome-to-community-around-container">
    <div class="welcome-to-community-container" id="welcome-to-community-text">
      <h1>Willkommen in der Community, {{ userFullName }}</h1>
      <p>
        Wir gratulieren Ihnen herzlich zum erfolgreichen Abschluss unseres Quiz!
      </p>
      <p>
        Als nächstes möchten wir Sie dazu einladen, Ihr Profil auf unserer
        Plattform zu vervollständigen. Dies ermöglicht anderen Mitglieder der
        Community, Sie besser kennenzulernen.
      </p>
      <p>
        Wir freuen uns auf Ihre weiteren Beiträge und darauf, Sie auf Ihrem
        Lernweg zu begleiten. Bei Fragen oder Anliegen zögern Sie bitte nicht,
        uns zu kontaktieren.
      </p>
      <div class="verify-quiz-button-container">
        <button (click)="switchContainerToCompleteYourProfile()">
          Zum Profil
        </button>
      </div>
    </div>
    <div class="user-details-container d-none" id="complete-your-profile-details">
      <h2>Dein Profil vervollständigen <span class="required-fields-span">*Pflichtfelder</span></h2>
      <div class="user-details-top-container">
        <div class="user-details-around-input-container">
          <div class="user-details-input-container">
            <div class="input-error-container floating-label-group-cyp">
              <input type="text" class="form-control" [(ngModel)]="street" name="street" required />
              <label class="floating-label-cyp">*Straße</label>
              <span>{{ errors.street ? errors.street[0] : "" }}</span>
            </div>
            <div class="input-error-container floating-label-group-cyp">
              <input type="text" class="form-control" [(ngModel)]="house_number" name="house_number" required />
              <label class="floating-label-cyp">*Hausnummer</label>
              <span>{{
                errors.house_number ? errors.house_number[0] : ""
                }}</span>
            </div>
          </div>
          <div class="user-details-input-container">
            <div class="input-error-container floating-label-group-cyp">
              <input type="text" class="form-control" [(ngModel)]="zip_code" name="zip_code" required />
              <label class="floating-label-cyp">*Postleitzahl</label>
              <span>{{ errors.zip_code ? errors.zip_code[0] : "" }}</span>
            </div>
            <div class="input-error-container floating-label-group-cyp">
              <input type="text" class="form-control" [(ngModel)]="city" name="city" required />
              <label class="floating-label-cyp">*Stadt</label>
              <span>{{ errors.city ? errors.city[0] : "" }}</span>
            </div>
          </div>
          <div class="user-details-input-container">
            <div class="input-error-container floating-label-group-cyp">
              <input type="text" class="form-control" [(ngModel)]="phone_number" name="phone_number" required />
              <label class="floating-label-cyp">*Telefonnummer</label>
              <span>{{
                errors.phone_number ? errors.phone_number[0] : ""
                }}</span>
            </div>
            <div class="input-error-container floating-label-group-cyp">
              <input type="text" class="form-control" [(ngModel)]="website" name="website" placeholder=" " />
              <label class="floating-label-cyp">Website</label>
              <span>{{ errors.website ? errors.website[0] : "" }}</span>
            </div>
          </div>
        </div>
        <div class="user-details-profile-container">
          <h3>Dein Profilbild</h3>
          <img [src]="imagePreview" (click)="fileInput.click()" />
          <input #fileInput type="file" style="display:none" (change)="onFileSelected($event)" />
          <span>{{ errors.image ? errors.image[0] : "" }}</span>
        </div>
      </div>
      <div class="user-details-textarea-container floating-label-group-cyp">
        <textarea cols="30" rows="10" class="form-control" [(ngModel)]="about" name="about" required>
        </textarea>
        <label class="floating-label-cyp">*Erzähl etwas über dich</label>
        <span>{{ errors.about ? errors.about[0] : "" }}</span>
      </div>
      <div class="complete-your-profile-button-container">
        <div class="user-type-container">
          <div class="choice-user-type-searching-job-container">
            <div class="user-type-flex-row-containerr">
              <div class="schuler-alumni-flex-row-container">
                <div class="complete-your-profile-checkbox-container">
                  <span>*Schüler</span>
                  <input type="radio" name="usersType" [(ngModel)]="users_type" value="Schüler" />
                </div>
                <div class="complete-your-profile-checkbox-container">
                  <span>*Alumni</span>
                  <input type="radio" name="usersType" [(ngModel)]="users_type" value="Alumni" />
                </div>
              </div>
              <span class="user-type-error-span">{{
                errors.user_type ? errors.user_type[0] : ""
                }}</span>
            </div>
            <div class="complete-your-profile-checkbox-container">
              <img src="./assets/img/f-zeich-neben-profil.png" alt="Question Icon" (click)="openMapInformations()" />
              <span>Auf der Karte anzeigen?</span>
              <input type="checkbox" [(ngModel)]="showOnMap" />
            </div>
            <div class="searching-job-container" *ngIf="users_type === 'Alumni'">
              <span>Bist du auf Jobsuche?</span>
              <input type="checkbox" [(ngModel)]="isSearchingForJob" name="jobSearch">
            </div>
          </div>
          <div class="course-details-container">
            <div class="dropdown-choice-container" *ngIf="users_type === 'Schüler' || users_type === 'Alumni'">
              <div class="dropdown">
                <button class="dropdown-toggle">
                  Wähle deinen Kurs
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" (click)="selectCourse('Frontend')">
                    Frontend
                  </li>
                  <li class="dropdown-item" (click)="selectCourse('Backend')">
                    Backend
                  </li>
                  <li class="dropdown-item" (click)="selectCourse('Fullstack')">
                    Fullstack
                  </li>
                </ul>
              </div>
              <span class="selected-course-span">{{ selectedCourse }}</span>
            </div>
            <div class="dropdown-choice-container" *ngIf="users_type === 'Schüler'">
              <div class="dropdown">
                <button class="dropdown-toggle">
                  Wähle dein Modul
                </button>
                <ul class="dropdown-scrollbar dropdown-menu">
                  <li class="dropdown-item" *ngFor="let i of numbers" (click)="selectNumber(i)">
                    {{ i }}
                  </li>
                </ul>
              </div>
              <span class="selected-course-span">{{ selectedNumber }}</span>
            </div>
          </div>
        </div>
        <button (click)="sendProfileDetailsToBackend()">Speichern</button>
      </div>
    </div>
  </div>
</div>

<app-mapwelcomemessage id="map-details" class="d-none"></app-mapwelcomemessage>