<app-logoandprofileheader></app-logoandprofileheader>

<div class="complete-your-profile-container">
  <div class="welcome-to-community-container">
    <div class="d-none">
      <h1>
        Willkommen in der Developer Akademie Community, {{ userFullName }}
      </h1>
      <p>
        Wir gratulieren Ihnen herzlich zum erfolgreichen Abschluss unseres Quiz!
      </p>
      <p>
        Als nächstes möchten wir Sie dazu einladen, Ihr Profil auf unserer
        Plattform zu vervollständigen. Dies ermöglicht anderen Mitglieder der
        Community, Sie besser kennenzulernen.
      </p>
      <p>
        Wir freuen uns auf Ihre weiteren Beiträge und darauf, Sie auf Ihrem
        Lernweg zu begleiten. Bei Fragen oder Anliegen zögern Sie bitte nicht,
        uns zu kontaktieren.
      </p>
      <div class="verify-quiz-button-container">
        <button>Zum Profil</button>
      </div>
    </div>
    <div class="user-details-container">
      <h2>Dein Profil vervollständigen</h2>
      <div class="user-details-top-container">
        <div class="user-details-around-input-container">
          <h3>
            Persönliche Daten
            <span class="required-fields-span">*Pflichtfelder</span>
          </h3>
          <div class="user-details-input-container">
            <div class="input-error-container">
              <input
                type="text"
                placeholder="*Straße"
                [(ngModel)]="street"
                name="street"
              />
              <span>{{ errors.street ? errors.street[0] : "" }}</span>
            </div>
            <div class="input-error-container">
              <input
                type="text"
                placeholder="*Hausnummer"
                [(ngModel)]="house_number"
                name="house_number"
              />
              <span>{{
                errors.house_number ? errors.house_number[0] : ""
              }}</span>
            </div>
          </div>
          <div class="user-details-input-container">
            <div class="input-error-container">
              <input
                type="text"
                placeholder="*Postleitzahl"
                [(ngModel)]="zip_code"
                name="zip_code"
              />
              <span>{{ errors.zip_code ? errors.zip_code[0] : "" }}</span>
            </div>
            <div class="input-error-container">
              <input
                type="text"
                placeholder="*Stadt"
                [(ngModel)]="city"
                name="city"
              />
              <span>{{ errors.city ? errors.city[0] : "" }}</span>
            </div>
          </div>
          <div class="user-details-input-container">
            <div class="input-error-container">
              <input
                type="number"
                placeholder="*Telefonnummer"
                [(ngModel)]="phone_number"
                name="phone_number"
              />
              <span>{{
                errors.phone_number ? errors.phone_number[0] : ""
              }}</span>
            </div>
            <div class="input-error-container">
              <input
                type="text"
                placeholder="Website"
                [(ngModel)]="website"
                name="website"
              />
              <span>{{ errors.website ? errors.website[0] : "" }}</span>
            </div>
          </div>
        </div>
        <div class="user-details-profile-container">
          <h3>Dein Profilbild</h3>
          <img [src]="imagePreview" />
          <input type="file" (change)="onFileSelected($event)" />
          <span>{{ errors.image ? errors.image[0] : "" }}</span>
        </div>
      </div>
      <div class="user-details-textarea-container">
        <textarea
          cols="30"
          rows="10"
          placeholder="*Erzähl etwas über dich"
          [(ngModel)]="about"
          name="about"
        ></textarea>
        <span>{{ errors.about ? errors.about[0] : "" }}</span>
      </div>
      <div class="complete-your-profile-button-container">
        <div class="user-type-container">
          <div class="user-type-flex-row-container">
            <div class="complete-your-profile-checkbox-container">
              <span>Schüler</span>
              <input
                type="radio"
                name="userType"
                [(ngModel)]="user_type"
                value="Schüler"
              />
            </div>
            <div class="complete-your-profile-checkbox-container">
              <span>Alumni</span>
              <input
                type="radio"
                name="userType"
                [(ngModel)]="user_type"
                value="Alumni"
              />
            </div>
          </div>
          <span class="user-type-error-span">{{
            errors.user_type ? errors.user_type[0] : ""
          }}</span>
        </div>
        <button (click)="sendProfileDetailsToBackend()">Speichern</button>
      </div>
    </div>
  </div>
</div>
