<app-logoandprofileheader></app-logoandprofileheader>

<div class="complete-your-profile-container">
  <div class="welcome-to-community-container">
    <h1>Willkommen in der Developer Akademie Community, {{ userFullName }}</h1>
    <p>
      Wir gratulieren Ihnen herzlich zum erfolgreichen Abschluss unseres Quiz!
    </p>
    <p>
      Als nächstes möchten wir Sie dazu einladen, Ihr Profil auf unserer
      Plattform zu vervollständigen. Dies ermöglicht anderen Mitglieder der
      Community, Sie besser kennenzulernen.
    </p>
    <p>
      Wir freuen uns auf Ihre weiteren Beiträge und darauf, Sie auf Ihrem
      Lernweg zu begleiten. Bei Fragen oder Anliegen zögern Sie bitte nicht, uns
      zu kontaktieren.
    </p>
    <div class="verify-quiz-button-container">
      <button>Zum Profil</button>
    </div>
  </div>
</div>
