<div class="welcome-to-map-around-container">
  <div class="darker-background-container" (click)="closeMapDetails()"></div>
  <div class="welcome-to-map-message-container">
    <img src="./assets/img/map-image-for-cyp.PNG" alt="Map Image" />
    <p>
      Die Community Map dient als zentrales Werkzeug, um unsere vielfältige und
      engagierte Community zu visualisieren. Auf dieser Karte werden die
      Standorte von Mentoren, Schülern und Alumni mittels verschiedener Marker
      dargestellt. Ein Blick genügt und Sie erkennen, welche Mitglieder sich in
      Ihrer Umgebung oder einer anderen Region befinden.
    </p>
    <p>
      Datenschutz hat für uns höchste Priorität. Daher liegt es in Ihrer Hand zu
      entscheiden, ob Sie auf der Karte sichtbar sein möchten. Diese Einstellung
      können Sie jederzeit in Ihrem Profil anpassen.
    </p>
    <div class="welcome-message-button-container-map">
      <button (click)="closeMapDetails()">Verstanden</button>
    </div>
  </div>
</div>
