.sitenavigation-container {
  width: 15vw;
  height: 83vh;
  background-color: white;
  border-right: 2px solid #ECEEFE;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.switch-to-map-container {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: #ECEEFE;
  }
  span {
      font-size: 20px;
      margin-top: 6px;
  }
}

.map-image {
  height: 35px;
  object-fit: contain;
}

.da-image {
  height: 35px;
  object-fit: contain;
}

.da-link {
  text-decoration: none;
  color: black;
}

.slack-image {
  height: 30px;
  object-fit: contain;
}

.discord-image {
  height: 30px;
  object-fit: contain;
}

.channels-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  h4 {
    font-size: 22px;
  }
}



.each-channel-name {
  display: flex;
  cursor: pointer;
  padding: 8px;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: #ECEEFE;
  }
  span {
    font-size: 20px;
  }
}

.active-channel {
  background-color: #797EFE !important;
  color: white !important;
}
