.sitenavigation-container {
  width: 15vw;
  height: 83vh;
  background-color: white;
  border-right: 2px solid #ECEEFE;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.switch-to-map-button-container {
  display: flex;
  button {
      border-style: unset;
      border-radius: 30px;
      font-size: 18px;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      color: black;
    background-color: white;
      &:hover {
        background-color: #ECEEFE;
      }
  }
}

.channels-container {
  display: flex;
  flex-direction: column;

  gap: 8px;
  h4 {
    font-size: 22px;
  }
}

.all-channels-container {
  display: flex;
  flex-direction: column;
}

.each-channel-name {
  cursor: pointer;
  padding: 4px;
  &:hover {
    background-color: #ECEEFE;
  }
  span {
    font-size: 18px;
  }
}
